<section class="about-gallery">
  <div class="about-gallery__container container">
    <div class="about-gallery__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/gallery1.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="img/gallery2.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="img/gallery3.png" alt="" />
        </div>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/gallery4.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="img/gallery5.png" alt="" />
        </div>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/gallery6.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="img/gallery7.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="img/gallery8.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
