.author-main {
    width: 100%;
    padding: 54px 20px 90px;
    
    @media(max-width: 1200px) {
        padding-bottom: 126px;
        padding-top: 40px;
    }
    @media(max-width: 768px) {
        padding-bottom: 100px;
    }
    
    .author-main__container {
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @media(max-width: 768px) {
            flex-direction: column;
            max-width: 440px;
        }

        .author-main__img {
            width: 100%;
            max-width: 330px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px;

            @media(max-width: 768px) {
                max-width: 280px;
                padding: 30px;
            }

            .author-main__img-bg {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                opacity: 0.1;

                span {
                    opacity: 0.3;
                    width: 100%;
                    height: 100%;
                    display: block;
                    border-radius: 50%;
                    background: #FFF0C4;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);

                    &:last-child {
                        opacity: 1;
                        width: calc(100% - 40px);
                        height: calc(100% - 40px);

                        @media(max-width: 768px) {
                            width: calc(100% - 30px);
                            height: calc(100% - 30px);
                        }
                    }
                }
            }

            img {
                width: 100%;
                max-width: 250px;
                height: 250px;
                border-radius: 50%;
                object-fit: cover;

                @media(max-width: 768px) {
                    max-width: 212px;
                    height: 212px;
                }
            }
        }

        .author-main__text {
            width: 100%;
            max-width: 628px;
            position: relative;

            @media(max-width: 1200px) {
                max-width: 590px;
            }

            @media(max-width: 1024px) {
                max-width: 480px;
            }

            @media(max-width: 768px) {
                text-align: center;
                position: unset;
            }

            h1 {
                color: var(--h-1, #EEE1D2);
                font-family: Mulish;
                font-size: 100px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%;
                text-transform: uppercase;
                margin-bottom: 10px;
                position: relative;
                z-index: 2;

                @media(max-width: 1200px) {
                    font-size: 80px;
                }

                @media(max-width: 1024px) {
                    font-size: 60px;
                }

                @media(max-width: 768px) {
                    font-size: 44px;
                    max-width: 336px;
                    margin: 0 auto;
                }
                @media(max-width: 420px) {
                    font-size: 32px;
                }
            }

            p {
                color: var(--h-1, #EEE1D2);
                font-family: Mulish;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 130%;
                text-transform: uppercase;
                position: relative;
                max-width: 400px;
                z-index: 2;
                @media(max-width: 768px) {
                    font-size: 20px;
                    margin: 0 auto;
                }
                @media(max-width: 420px) {
                    font-size: 16px;
                }
            }

            .bg-color {
                position: absolute;
                left: 0;
                top: 0;
                width: 682px;
                height: 341px;
                opacity: 0.50;
                background: linear-gradient(180deg, #FF764C 0%, #FFEFC3 100%), radial-gradient(98.52% 101.66% at 6368.51% 3886.65%, #FFEEB8 0%, rgba(255, 137.82, 137.82, 0) 100%), conic-gradient(from -23deg at 107.35% 32.55%, rgba(255, 118, 79, 0.40) 0deg, rgba(255, 240, 196, 0.40) 360deg);
                box-shadow: 400px 400px 400px;
                filter: blur(400px);
                @media(max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
}