.feedback { 
    width: 100%;
    padding: 0 0px 128px;
	.feedback__container { 
        max-width: 1044px;
        position: relative;
        @media(max-width: 1200px) {
            max-width: 1000px;
        }
        .bg-color {
            position: absolute;
            left: -100px;
            top: 0;
            display: block;
            width: 590px; 
            height: 500px; 
            transform: rotate(180deg); 
            opacity: 0.30; 
            background: linear-gradient(180deg, #FF764C 0%, #FFEFC3 100%), radial-gradient(98.52% 101.66% at 6368.51% 3886.65%, #FFEEB8 0%, rgba(255, 137.82, 137.82, 0) 100%), conic-gradient(from -23deg at 107.35% 32.55%, rgba(255, 118, 79, 0.40) 0deg, rgba(255, 240, 196, 0.40) 360deg); 
            box-shadow: 400px 400px 400px; 
            filter: blur(400px);
        }

		.feedback__title { 
            width: 100%;
            max-width: 820px;
            padding: 0 20px;
            margin-bottom: 40px;
            @media(max-width: 768px) {
                max-width: 480px;
                margin: 0 auto 40px;
            }
			h2 { 
                color: var(--h-1, #EEE1D2);
                font-family: Mulish;
                font-size: 42px;
                font-style: normal;
                font-weight: 700;
                line-height: 130%; /* 54.6px */
                text-transform: uppercase;
                margin-bottom: 20px;
                @media(max-width: 768px) {
                    font-size: 28px;
                }
			}

			p { 
                color: var(--h-2, #E0D0C0);
                font-family: Mulish;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%; /* 26px */
                letter-spacing: -0.4px;
                @media(max-width: 768px) {
                    font-size: 16px;
                }
			}
		}

		.feedback__swiper { 
            width: 100%;
            margin-bottom: 40px;
            overflow: unset;
            max-width: 1004px;
            @media(max-width: 1200px) {
                max-width: 960px;
            }
            @media(max-width: 768px) {
                max-width: 440px;
                margin-bottom: 20px;
            }
			.swiper-wrapper { 
				.swiper-slide { 
                    width: 100%;
                    max-width: 386px;
                    @media(max-width: 768px) {
                        max-width: 308px;
                    }
					img { 
                        width: 100%;
                        border-radius: 24px;
                        height: 482px;
                        object-fit: cover;
                        @media(max-width: 768px) {
                            height: 386px;
                        }
					}
				}
			}
		}

		.showmore { 
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
			a { 
                position: relative;
                z-index: 2;
			}
		}
	}
}