<section class="kirikil-top">
  <div class="kirikil-top__container container">
    <div class="top-block-kirikil">
      <div class="user-img-block">
        <img src="/img/user1.png" alt="" />
      </div>
      <div class="user-right">
        <span class="user-right-text1">Кирилл ярхо</span>
        <span class="user-right-text2"
          >Один из самых близких учеников Майка Боксхолла</span
        >
      </div>
    </div>
    <div class="second-part-kirikil">
        <img src="/img/kirikil.png" alt="#">
        <div class="right-part-text">
            <p class="right-part-text__txt1">Преподаватель семинара</p>
            <p class="right-part-text__txt2">Кирилл Ярхо</p>
            <p class="right-part-text__txt3">
                Кирилл Ярхо, врач педиатр, остеопат и ведущий семинара «Пустая Чаша». <br><br>• Окончил Ленинградский Педиатрический Институт (1988–1993 г.г.). <br>• Доктор Остеопатии с 2002 года (РВШОМ). <br>• Проходил стажировку в разных направлениях и с разными преподавателями в Испании, Германии, Франции, Канаде. <br>• Практикует остеопатию с 1999 года (с момента знакомства с ней).
            </p>
        </div>
    </div>
  </div>
</section>
