<section class="become-therapist">
  <div class="become-therapist__container container">
    <div class="how-to-center-text-all">
    <div class="how-to-center__bottom">
      <h4>Станьте организатором семинаров</h4>
      <p class="how-to-text1">Если вы хотите не только практиковать Работу, но и помогать в организации семинаров и распространении знаний, мы приглашаем вас зарегистрироваться как организатор. Организаторы играют ключевую роль в создании условий для обучения и практики, обеспечивая координацию мероприятий и коммуникацию между участниками. Пожалуйста, заполните форму регистрации для организаторов, чтобы начать сотрудничество с нами и вносить свой вклад в развитие сообщества. <br><br><span>1.Заполните анкету</span><br>Предоставьте доказательства посещения необходимого количества групп  (сертификаты, подтверждения участия). <br> <br><span>2. Ожидайте подтверждения</span><br>После проверки предоставленных данных, мы свяжемся с вами для подтверждения регистрации и обсуждения дальнейших шагов. <br><br>Мы рады вашему интересу и готовы поддержать вас на каждом этапе. Присоединяйтесь к нашему сообществу профессионалов, стремящихся к глубокому пониманию и чистоте практики</p>
       <a href="#">Стать организатором</a>
    </div>
    </div>
  </div>
</section>
