@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "sans-serif";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$mainBackground: #fff;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	color: $mainColor;
	font-size: $fontSize + px;
	font-family: $fontFamily;
	background: var(---Black, #1A1410);

	// background-size: cover;
	// background-repeat: no-repeat;
	&._lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&._loaded {}
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

	@media(max-width: 1200px) {
		max-width: 960px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "./components/Header/header.scss";
@import "./components/Footer/footer.scss";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

.button {
	padding: 24px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	max-width: max-content;
    border: 1px solid rgba(255, 255, 255, 0.5);
	background: radial-gradient(230.39% 104.71% at 0% 106.25%, rgba(211, 131, 73, 0.20) 0%, rgba(255, 254, 253, 0.20) 100%), linear-gradient(95deg, #FCDFCA 0.01%, #F8C9A8 100.47%);
	box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.25);
	transition: all 0.5s;
	position: relative;
	z-index: 5;
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(230.39% 104.71% at 0% 106.25%, rgba(211, 131, 73, 0.20) 0%, rgba(255, 254, 253, 0.20) 100%), linear-gradient(95deg, #F1CAAD 0.01%, #E2B393 100.47%);
		opacity: 0;
		transition: all 0.5s;
		z-index: 1;
	}
	.btn-text {
		color: #1A1410;
		font-family: Mulish;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		max-width: max-content;
		line-height: 110%;
		letter-spacing: 0.48px;
		text-transform: uppercase;
		white-space: nowrap;
		position: relative;
		z-index: 2;
	}

	&:hover {
		&::before {
			opacity: 1;
		}
	}

	@media(max-width: 768px) {
		font-size: 14px;
	}
}

@import "./components/Main/style.scss";
@import "./components/About/style.scss";
@import "./components/Author/style.scss";
@import "./components/Feedback/style.scss";
@import "./components/Teacher/style.scss";
@import "./components/Make/style.scss";
@import "./components/SeminarAbout/style.scss";
@import "./components/Schedule/style.scss";
@import "./components/Seminar/style.scss";
@import "./components/MyRoom/style.scss";
@import "./components/Login/style.scss";
@import "./components/PracticeEvent/style.scss";
@import "./components/AuthorMain/style.scss";
@import "./components/Invite/style.scss";