@keyframes mainAnim1 {
    0% {
        opacity: 0.3;
        transform: translate(-50%, -50%);
        display: block;
        filter: blur(10px);
    }

    50% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.4);
        filter: blur(20px);
    }

    100% {
        opacity: 0;
        display: none;
        filter: blur(100px);
    }
}

@keyframes mainAnim2 {
    0% {
        opacity: 0.1;
        transform: translate(-50%, -50%);
        display: block;
        filter: blur(10px);
    }

    50% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.7);
        filter: blur(20px);
    }

    100% {
        opacity: 0;
        display: none;
        filter: blur(100px);
    }
}

.main {
    width: 100%;
    padding: 12px 20px 100px;
    position: relative;
    @media(max-width: 1200px) {
        padding: 12px 20px 138px;
    }
    @media(max-width: 768px) {
        padding-bottom: 100px;
    }
    .main__container {
        position: relative;
        @media(max-width: 1200px) {
            max-width: 728px;
        } 
        .main__anim {
            width: 100%;
            position: relative;

            .main__anim-title {
                width: 100%;
                position: absolute;
                left: 0;
                top: 150px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                svg:nth-child(2) {
                    margin-top: 40px;
                    display: block;
                    z-index: 5;
                    position: relative;
                    @media(max-width: 768px) {
                        margin-top: 0;
                        right: -100px;
                    }
                }
                @media(max-width: 1200px) {
                    top: 80px;
                    svg {
                        height: auto;
                        &:nth-child(1) {
                            max-width: 326px;
                        }
                        &:last-child {
                            max-width: 250px;
                        }
                    }    
                }
                @media(max-width: 768px) {
                    position: relative;
                    top: 0;
                    justify-content: center;
                    flex-direction: column;
                    max-width: unset;
                    align-items: center;
                    padding-right: 80px;
                    top: 20px;
                    z-index: 3;
                }
            }   

            img {
                width: 100%;
                max-width: 750px;
                right: 42px;
                display: block;
                margin: 0 auto;
                position: relative;
                z-index: 2;
                @media(max-width: 1200px) {
                    max-width: 594px;
                    right: 20px;
                }
                @media(max-width: 768px) {
                    z-index: 3;
                    max-width: 480px;
                }
            }

            .main__circles {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 466px;
                height: 466px;

                &::before,
                &::after {
                    content: "";
                    border-radius: 303px;
                    background: #f8e9d8;
                    filter: blur(125px);
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &::before {
                    width: 241px;
                    height: 303px;
                    top: 0;
                }

                &::after {
                    width: 241px;
                    height: 303px;
                    bottom: 0;
                }

                span {
                    border-radius: 50%;
                    background: #fff0c4;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    filter: blur(10px);

                    &:first-child {
                        width: 356px;
                        height: 356px;
                        opacity: 0.3;
                        animation: mainAnim1 1.5s infinite;
                    }

                    &:nth-child(2) {
                        opacity: 0.1;
                        width: 466px;
                        height: 466px;
                        animation: mainAnim2 1.5s infinite;
                    }

                    &:last-child {
                        width: 273px;
                        height: 439px;
                        border-radius: 439px;
                        background: rgba(255, 198, 131, 0.49);
                        filter: blur(100px);
                    }
                }
            }
        }

        .main__text {
            width: 100%;
            max-width: 432px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -14px;
            z-index: 2;
            @media(max-width: 768px) {
                position: relative;
                left: unset;
                transform: unset;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 0 auto;
            }
            p {
                color: var(--White-grey, #efefea);
                text-align: center;
                font-family: Mulish;
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: 130%;
                letter-spacing: -0.4px;
                max-width: 338px;
                margin: 0 auto 30px;
                @media(max-width: 768px) {
                    order: 2;
                    max-width: 300px;
                    font-size: 16px;
                }
            }

            a {
                margin: 0 auto 100px;
                @media(max-width: 768px) {
                    order: 3;
                    margin-bottom: 0;
                }
            }

            .last-text {
                color: var(--White-grey, #efefea);
                text-align: center;
                display: block;
                font-family: Mulish;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                opacity: 0.5;
                line-height: 130%;
                letter-spacing: -0.28px;
                text-transform: uppercase;
                @media(max-width: 768px) {
                    order: 1;
                    max-width: 198px;
                    font-size: 10px;
                    display: block;
                    margin-bottom: 20px;
                }
            }
        }
    }
}