@keyframes mainAnim1 {
    0% {
        opacity: 0.3;
        transform: translate(-50%, -50%);
        display: block;
        filter: blur(10px);
    }

    50% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.4);
        filter: blur(20px);
    }

    100% {
        opacity: 0;
        display: none;
        filter: blur(100px);
    }
}

@keyframes mainAnim2 {
    0% {
        opacity: 0.1;
        transform: translate(-50%, -50%);
        display: block;
        filter: blur(10px);
    }

    50% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.7);
        filter: blur(20px);
    }

    100% {
        opacity: 0;
        display: none;
        filter: blur(100px);
    }
}

.main {
    width: 100%;
    padding: 12px 20px 100px;
    position: relative;

    .main__container {
        position: relative;

        .main__anim {
            width: 100%;
            position: relative;

            .main__anim-title {
                width: 100%;
                position: absolute;
                left: 0;
                top: 150px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                svg {
                    &:nth-child(2) {
                        margin-top: 40px;
                        display: block;
                    }
                }
            }

            img {
                width: 100%;
                max-width: 640px;
                display: block;
                margin: 0 auto;
                position: relative;
                z-index: 2;
            }

            .main__circles {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 466px;
                height: 466px;
                &::before {
                    content: "";
                    border-radius: 303px;
                    background: #F8E9D8;
                    filter: blur(125px);
                    width: 241px;
                    height: 303px;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                }
                &::after {
                    content: "";
                    border-radius: 303px;
                    background: #F8E9D8;
                    filter: blur(125px);
                    width: 241px;
                    height: 303px;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                }
                span {
                    border-radius: 50%;
                    background: #FFF0C4;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    filter: blur(10px);
                    &:first-child {
                        width: 356px;
                        height: 356px;
                        opacity: 0.3;
                        animation: mainAnim1 1.5s infinite;
                    }

                    &:nth-child(2) {
                        opacity: 0.1;
                        width: 466px;
                        height: 466px;
                        animation: mainAnim2 1.5s infinite;
                    }

                    &:last-child {
                        width: 273px;
                        height: 439px;
                        border-radius: 439px;
                        background: rgba(255, 198, 131, 0.49);
                        filter: blur(100px);
                    }
                }
            }
        }

        .main__text {
            width: 100%;
            max-width: 432px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            z-index: 2;
            p {
                color: var(---White-grey, #EFEFEA);
                text-align: center;
                font-family: Mulish;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%; /* 26px */
                letter-spacing: -0.4px;
                max-width: 340px;
                margin: 0 auto 30px;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto 100px;
                width: 100%;
                max-width: 286px;
                height: 64px;
                border-radius: 5px;
                border: 1px solid #FFF;
                background: radial-gradient(230.39% 104.71% at 0% 106.25%, rgba(211, 131, 73, 0.20) 0%, rgba(255, 254, 253, 0.20) 100%), linear-gradient(95deg, #FCDFCA 0.01%, #F8C9A8 100.47%);
                box-shadow: 0px 10px 20px 0px rgba(26, 20, 16, 0.15);
                color: var(---Black, #1A1410);
                font-family: Mulish;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 0.48px;
                text-transform: uppercase;
            }

            span {
                color: var(---White-grey, #EFEFEA);
                text-align: center;
                display: block;
                font-family: Mulish;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%; /* 18.2px */
                letter-spacing: -0.28px;
                text-transform: uppercase;
            }
        }
    }
}