<section class="author-main">
    <div class="author-main__container container">
        <div class="author-main__img">
            <div class="author-main__img-bg">
                <span></span>
                <span></span>
            </div>
            <img src="img/aboutMain.png" alt="">
        </div>
        <div class="author-main__text">
            <h1>Майк Боксхолл</h1>
            <p>Учитель, ставший чистым зеркалом для каждого, кто с ним соприкасался</p>
            <div class="bg-color"></div>
        </div>
    </div>
</section>