.header { 
	width: 100%;
	padding: 24px 20px;
	position: relative;
	z-index: 20;
	.header__container { 
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		.header__left { 
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 16px;
			max-width: 702px;
			@media(max-width: 1200px) {
				max-width: 748px;
			}
			@media(max-width: 768px) {
				max-width: 66px;
			}
			.logo { 
				width: 100%;
				display: block;
				max-width: 108px;
				@media(max-width: 768px) {
					max-width: 66px;
				}
				img { 
					width: 100%;
				}
			}

			.menu { 
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 10px;
				max-width: 500px;
				@media(max-width: 768px) {
					display: none;
				}
				li { 
					position: relative;
					a,span { 
						color: var(---White-grey, #EFEFEA);
						font-family: Mulish;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: 100%;
					}
					ul {
						position: absolute;
						right: 0;
						top: 0px;
						padding-top: 30px;
						border-radius: 5px;
						box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
						z-index: 20;
						overflow: hidden;
						display: none;
						li {
							padding: 0px 20px;
							background: #EBD8CF;
							&:first-child {
								padding: 20px 20px 0;
								border-radius: 5px 5px 0 0;
							}
							&:last-child {
								padding-bottom: 20px;
							}
							a {
								color: #000;
								font-family: Mulish;
								font-size: 16px;
								font-style: normal;
								font-weight: 400;
								line-height: 200%; /* 32px */
								letter-spacing: -0.32px;
								white-space: nowrap;
							}
						}
					}
					&:hover  ul  {
						display: block;
					}
				}
			}
		}

		.header__right { 
			width: 100%;
			max-width: 350px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 10px;
			@media(max-width: 1200px) {
				max-width: 72px;
			}
			@media(max-width: 768px) {
				max-width: 354px;
			}
			@media(max-width: 520px) {
				max-width: 100px;
			}
			.burger-btn {
				display: none;
				@media(max-width: 768px) {
					display: block;
					width: 40px; 
					height: 40px; 
					background: #786F5F; 
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					gap: 6px;
					min-width: 40px;
					span {
						display: block;
						width: 16px; 
						height: 2px; 
						background-color: #FFF;
					}
				}
			}

			.phone { 
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 10px;
				color: #FFF;
				font-family: Mulish;
				font-size: 20px;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 24px */
				@media(max-width: 1200px) {display: none;}
				@media(max-width: 768px) {
					display: flex;
				}
				@media(max-width: 520px) {
					display: none;
				}
			}

			.header__buttons {
				width: 100%;
				max-width: 72px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 10px;
				@media(max-width: 768px) {
					max-width: 100px;
				}
				.user-btn { 
					width: 24px;
					height: 24px;
					@media(max-width: 768px) {
						display: none;
					}
				}
	
				.header__lang { 
					width: 32px;
					position: relative;
					.header__lang-title { 
						width: 100%;
						display: flex;
						justify-content: space-between;
						align-items: center;
						color: #EFEFEA;
						font-family: Mulish;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: 100%;
					}
					&:hover .header__hiden {
						display: block;
					}
	
					.header__hiden { 
						width: 100%;
						border-radius: 5px;
						box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
						padding-top: 26px;
						right: 0;
						display: none;
						top: 0;
						position: absolute;
						overflow: hidden;
						button { 
							background: #EBD8CF;
							padding: 6px 4px;
							color: #000;
							font-family: Mulish;
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 100%;
						}
					}
				}
			}

		}
	}
}