.practice-event {
  width: 100%;
  padding: 0 20px 150px;

  @media(max-width: 768px) {
    padding-bottom: 100px;
  }

  .practice-event__container {
    max-width: 800px;
    position: relative;

    @media(max-width: 1200px) {
      max-width: 960px;
    }

    @media(max-width: 768px) {
      max-width: 440px;
    }

    .bg-img {
      position: absolute;
      right: 110%;
      bottom: -160px;
      max-width: 304px;
      width: 100%;

      @media(max-width: 768px) {
        max-width: 160px;
        left: 64%;
        right: unset;
        bottom: unset;
        top: 400px;
        transform: rotate(30deg);
      }
    }

    .bg-color {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 956px;
      height: 559px;
      opacity: 0.30;
      background: linear-gradient(180deg, #FF764C 0%, #FFEFC3 100%), radial-gradient(98.52% 101.66% at 6368.51% 3886.65%, #FFEEB8 0%, rgba(255, 137.82, 137.82, 0) 100%), conic-gradient(from -23deg at 107.35% 32.55%, rgba(255, 118, 79, 0.40) 0deg, rgba(255, 240, 196, 0.40) 360deg);
      box-shadow: 400px 400px 400px;
      filter: blur(400px);
    }

    h2 {
      color: var(--h-1, #EEE1D2);
      margin-bottom: 20px;
      font-family: Mulish;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      text-transform: uppercase;

      @media(max-width: 768px) {
        font-size: 28px;
      }
    }

    .practice-event__flex {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;

      @media(max-width: 768px) {
        flex-direction: column-reverse;
      }

      .practice-event__text {
        width: 100%;
        max-width: 388px;

        @media(max-width: 1200px) {
          max-width: 500px;
        }

        p {
          color: var(--h-2, #E0D0C0);
          font-family: Mulish;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 145%;
          letter-spacing: -0.4px;
          margin-bottom: 8px;

          @media(max-width: 768px) {
            font-size: 16px;
          }

          &:nth-last-child(2) {
            margin-bottom: 0;
          }
        }

        a {
          margin-top: 40px;
        }
      }

      .practice-event__img {
        width: 100%;
        max-width: 388px;

        @media(max-width: 768px) {
          max-width: 326px;
        }

        img {
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
    }
  }
}