.practice-event { 
    width: 100%;
    padding: 0 20px 150px;
	.practice-event__container { 
        max-width: 800px;
		h2 { 
            color: var(--h-1, #EEE1D2);
            margin-bottom: 20px;
            font-family: Mulish;
            font-size: 42px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 54.6px */
            text-transform: uppercase;
		}

		.practice-event__flex { 
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 20px;
			.practice-event__text { 
                width: 100%;
                max-width: 388px;
				p { 
                    color: var(--h-2, #E0D0C0);
                    font-family: Mulish;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 145%; /* 29px */
                    letter-spacing: -0.4px;
                    margin-bottom: 8px;
                    &:nth-last-child(2) {
                        margin-bottom: 0;
                    }
				}

				a { 
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-top: 40px;
                    align-items: center;
                    height: 64px;
                    max-width: 262px;
                    border-radius: 5px;
                    border: 1px solid #FFF;
                    background: radial-gradient(230.39% 104.71% at 0% 106.25%, rgba(211, 131, 73, 0.20) 0%, rgba(255, 254, 253, 0.20) 100%), linear-gradient(95deg, #FCDFCA 0.01%, #F8C9A8 100.47%);
                    box-shadow: 0px 10px 20px 0px rgba(26, 20, 16, 0.15);
                    color: var(---Black, #1A1410);
                    font-family: Mulish;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 100%; /* 16px */
                    letter-spacing: 0.48px;
                    text-transform: uppercase;
				}
			}

			.practice-event__img { 
                width: 100%;
                max-width: 388px;
				img { 
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;
				}
			}
		}
	}
}