.about-earth {
  width: 100%;
  padding: 50px 20px 40px;
  .about-earth__container {
    max-width: 800px;
    .about-earth__item {
      width: 100%;
      margin-bottom: 150px;
      position: relative;
      svg {
        position: absolute;
        top: -250px;
        right: -320px;
      }
      h2 {
        color: var(--h-1, #eee1d2);
        /* Web/H2 */
        font-family: Mulish;
        font-size: 41px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 54.6px */
        text-transform: uppercase;
        margin-bottom: 40px;
      }

      .about-earth__item-flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        position: relative;
        .about-earth__item-img {
          width: 100%;
          max-width: 386px;
          img {
            width: 100%;
            border-radius: 10px;
          }
        }

        .about-earth__item-text {
          width: 100%;
          max-width: 388px;
          p {
            color: var(--h-2, #e0d0c0);
            font-family: Mulish;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 145%;
            letter-spacing: -0.4px;
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .about-earth__seminar {
      width: 100%;
      position: relative;
      svg {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -150px;
      }
      h2 {
        position: relative;
        z-index: 2;
        color: var(--h-1, #eee1d2);
        max-width: 488px;
        margin-bottom: 40px;
        font-family: Mulish;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 54.6px */
        text-transform: uppercase;
      }

      h4 {
        color: var(--h-2, #e0d0c0);
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 24px */
        margin-bottom: 20px;
        position: relative;
        z-index: 2;
      }

      ul {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px 34px;
        margin-bottom: 20px;
        position: relative;
        z-index: 2;
        flex-wrap: wrap;
        margin-left: 20px;
        max-width: 622px;
        li {
          color: var(--h-1, #eee1d2);
          list-style: disc;
          font-family: Mulish;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%; /* 24px */
          letter-spacing: -0.48px;
        }
      }

      p {
        color: var(--h-2, #e0d0c0);
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 26px */
        letter-spacing: -0.4px;
        margin-bottom: 40px;
        position: relative;
        z-index: 2;
      }

      a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        max-width: 262px;
        border-radius: 5px;
        border: 1px solid #fff;
        background: radial-gradient(
            230.39% 104.71% at 0% 106.25%,
            rgba(211, 131, 73, 0.2) 0%,
            rgba(255, 254, 253, 0.2) 100%
          ),
          linear-gradient(95deg, #fcdfca 0.01%, #f8c9a8 100.47%);
        box-shadow: 0px 10px 20px 0px rgba(26, 20, 16, 0.15);
        color: var(---Black, #1a1410);
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 16px */
        letter-spacing: 0.48px;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
      }
    }
  }
}
