.seminar-about {
  width: 100%;
  padding: 0 20px 150px;

  @media(max-width: 768px) {
    padding-bottom: 100px;
  }

  .seminar-about__container {
    max-width: 1004px;
    position: relative;

    @media(max-width: 1200px) {
      max-width: 960px;
    }

    @media(max-width: 768px) {
      max-width: 440px;
    }

    .bg-color {
      position: absolute;
      right: 0;
      bottom: -200px;
      width: 585px;
      height: 1186px;
      transform: rotate(180deg);
      opacity: 0.30;
      background: linear-gradient(180deg, #FF764C 0%, #FFEFC3 100%), radial-gradient(98.52% 101.66% at 6368.51% 3886.65%, #FFEEB8 0%, rgba(255, 137.82, 137.82, 0) 100%), conic-gradient(from -23deg at 107.35% 32.55%, rgba(255, 118, 79, 0.40) 0deg, rgba(255, 240, 196, 0.40) 360deg);
      box-shadow: 400px 400px 400px;
      filter: blur(400px);
    }

    h2 {
      display: none;
      color: var(--h-1, #EEE1D2);
      font-family: Mulish;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      text-transform: uppercase;
      margin-bottom: 20px;
      display: none;

      @media(max-width: 1200px) {
        display: block;
      }

      @media(max-width: 768px) {
        font-size: 28px;
      }
    }

    .seminar-about__flex {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;

      @media(max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .seminar-about__img {
        width: 100%;
        max-width: 368px;

        @media(max-width: 1024px) {
          max-width: unset;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
        }

        @media(max-width: 520px) {
          grid-template-columns: 1fr;
        }

        img {
          width: 100%;
          border-radius: 5px;
          display: block;
          margin-bottom: 30px;

          @media(max-width: 1024px) {
            height: 222px;
            object-fit: cover;
          }

          &:last-child {
            margin-bottom: 0;

            @media(max-width: 520px) {
              display: none;
            }
          }
        }
      }

      .seminar-about__right {
        width: 100%;
        max-width: 590px;

        @media(max-width: 1024px) {
          max-width: unset;
        }

        h2 {
          display: block;

          @media(max-width: 1200px) {
            display: none;
          }
        }

        ul {
          width: 100%;
          margin-bottom: 40px;

          @media(max-width: 1024px) {
            max-width: 590px;
          }

          li {
            position: relative;
            padding-left: 32px;
            margin-bottom: 20px;
            color: var(--h-2, #E0D0C0);
            font-family: Mulish;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 145%;
            letter-spacing: -0.4px;

            @media(max-width: 768px) {
              font-size: 16px;
            }

            &::before {
              content: "";
              width: 20px;
              height: 20px;
              left: 0px;
              top: 6px;
              position: absolute;
              background: linear-gradient(0deg, #FFB1B1 0%, #FFB1B1 100%), radial-gradient(149.23% 212.45% at -9.83% -53.82%, white 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(152deg, rgba(244, 221.56, 220.13, 0) 0%, #9B5B5B 100%);
              border-radius: 50%;
            }

            &:last-child {
              margin-bottom: 0;
            }

            span {
              color: var(--h-1, #EEE1D2);
              font-family: Mulish;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 130%;
              margin-bottom: 10px;
              display: block;

              @media(max-width: 768px) {
                font-size: 20px;
              }
            }
          }
        }

        .seminar-about__buttons {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;

          @media(max-width: 1024px) {
            justify-content: flex-start;
          }

          @media(max-width: 768px) {
            flex-direction: column-reverse;
            align-items: flex-start;
          }

          .info-span {
            color: var(--h-2, #E0D0C0);
            font-family: Mulish;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 129%;
            max-width: 286px;
          }
        }
      }
    }

  }
}